thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
  background-color: rgb(123, 194, 190);
}
tbody {
    vertical-align: middle;
    border: 1px;
    border-color: rgb(96, 114, 36);
    column-span: 0px;
    column-fill: balance;
}